<!DOCTYPE html>
<html>
    <head>
        <title>Delivery</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='delivery.css') }}">
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash">
                    {% for msg in messages %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% for order in orders %}
            <div class="order">
                <p><strong>Order ID:</strong> {{ order.id }}</p>
                <p><strong>Name:</strong> {{ order.address.name }}</p>
                <p><strong>Address:</strong> {{ order.address.street }}</p>
                <p><strong>Post code:</strong> {{ order.address.postal_code }}</p>
                <p><strong>City:</strong> {{ order.address.city }}</p>
                <p><strong>Phone number:</strong> {{ order.address.phone_number }}</p>
                <form action="{{ url_for('delivery.shipped', order_id=order.id) }}" method="post">
                    <label for="delivered">Delivered</label>
                    <input type="checkbox" name="delivered" required>
                    <br>
                    <button type="submit">Finish delivery</button>
                </form>
            </div>
        {% endfor %}
    </body>
</html>