<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Password checker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    </head>
    <body>
        <div id="main">
        <h2>Password strength checker</h2>
        <form method="post" action="/submit-password">
            <div id="input-group">
            <input type="password" name="password" placeholder="" id="passwordInput" required>
            <label for="password" id="passLabel">Enter your password</label>
            </div>
            <br>
            <button type="submit">Check strength</button>
        </form>
        {% if strength %}
        <p><strong>Strength: </strong>{{ strength }}</p>
        {% endif %}

        {% if new_password %}
        <p><strong>Suggested password: </strong>{{ new_password }}</p>
        {% endif %}
        <div id="gen">
        <form method="post" action="/submit-generate">
            <label>Would you like to generate a stronger password?</label>
            <br>
            <div id="radios">
            <label for="">Yes</label>
            <input type="radio" name="generate" value="yes" class="yes radio">
            <br>
            <label for="">No</label>
            <input type="radio" name="generate" value="no" class="no radio">
            <br>
            </div>
            <button type="submit">Generate</button>
        </form>
        </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var genDiv = document.getElementById('gen');

                var strengthElem = document.querySelector('p strong');
                if (strengthElem && strengthElem.parentNode.textContent) {
                    var result = strengthElem.parentNode.textContent.toLowerCase();
                    if (result.includes('weak') || result.includes('very weak') || result.includes('moderate')) {
                        genDiv.style.display = 'block';
                    }
                }
            })
        </script>
    </body>
</html>