<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Password checker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    </head>
    <body>
        <h2>Password strength checker</h2>
        <form method="post" name="passwordForm">
            <label for="password">Enter your password</label>
            <br>
            <input type="password" name="password" required>
            <br>
            <button type="submit">Check strength</button>
        </form>
        {% if strength %}
        <p><strong>Strength:</strong>{{ strength }}</p>
        {% endif %}

        {% if new_password %}
        <p><strong>Suggested password:</strong>{{ new_password }}</p>
        {% endif %}
        <div id="gen">
        <form method="post" name="generateForm">
            <label>Would you like to generate a stronger password?</label>
            <br>
            <input type="radio" name="generate" value="yes"> Yes
            <br>
            <input type="radio" name="generate" value="no"> No
            <br>
            <button type="submit">Generate</button>
        </form>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var genDiv = document.getElementById('gen');

                var strengthElem = document.querySelector('p strong');
                if (strengthElem && strengthElem.parentNode.textContent)
                    var result = strengthElem.parentNode.textContent.toLowerCase();
                    if (result.includes('weak') || result.includes('very weak') || result.includes('moderate')) {
                        genDiv.style.display = 'block';
                    }
            })
        </script>
    </body>
</html>