body {
    background-color: #292929;
    color: #fff;
}
h3 {
    text-align: center;
}
.flash {
    color: red;
    text-align: center;
    font-weight: bold;
}
#checkout-box {
    border: 1px #fff solid;
    width: 20%;
    position: fixed;
    right: 3%;
    text-align: center;
    top: 10vh;
}
#checkout-box table {
    width: 80%;
    border-collapse: collapse;
    margin: auto 0;
}
#chekout-box table, td, table th {
    text-align: center;
}
#info {
    border: 1px #fff solid;
    width: 60%;
    position: relative;
    left: 6vw;
    top: 15vh;
}
#new-address {
    display: grid;
    margin-left: 7px;
}
#new-address input{
    padding: 5px 0;
    margin-bottom: 8px;
}
.saved-address {
    border: #bebdbd 2px solid;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(140, 140, 140, 0.478);
    margin: 20px 7px;
    padding: 10px;
    cursor: pointer;
}
#new-address, .saved-address {
    justify-self: center;
}
.saved-address.selected {
    border: 2px solid #fff;
    background-color: #eef;
    color: #000;
}
button {
    padding: 3px 10px;
    border-radius: 3px;
    margin-bottom: 8px;
    cursor: pointer;
}