html{
    scroll-behavior: smooth;
}
body {
    background-color: #292929;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
    text-align: center;
    color: white;
}
.menu-nav{
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
    background-color: #d6baa2;
    padding: 20px 0px;
    text-align: center;
    border-radius: 10px;
    border: 2px white solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3)
}
.menu-nav a{
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.3em;
}
.menu-section{
    align-items: center;
    justify-items: center;
    justify-self: center;
    border-radius: 10px;
    width: 40%;
    padding: 40px 0px;
    background-color: #d6baa2;
    box-shadow: 0 0 10px rgba(255, 216, 1, 0.3);
}
.menu-item{
    padding-top: 10px;
}
button{
    border-radius: 5px;
}
button:hover{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
#anchors{
    text-align: left;
    margin-bottom: -34px;
    padding-top: 5px;
}
#anchors a{
    color: white; 
    text-decoration: none;
    font-size: 1.1em;
    position: relative;
}
#button-wrapper{
    text-align: right;
    margin-top: -25px;
}
#button-wrapper button{
    position: relative;
}
#basket-sidebar{
    position: fixed;
    top: 0;
    right: -400px;
    width: 300px;
    height: 100%;
    background-color: #222;
    color: white;
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
}
#basket-sidebar.open{
    right: 0;
}
#basket-toggle{
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}
#basket-close{
    background: none;
    border-radius: none;
    border: none;
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#checkout{
    padding: 7px 10px;
    background-color: rgb(236, 236, 236);
    color: black;
    font-size: 0.9em;
    width: 90%;
    font-size: 1em;
    margin: 0 auto;
    display: block;
}
table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}
.item-price{
    text-align: right;
}
#plusminus{
    display: flex;
    gap: 5px;
}
.plusminusButton{
    border-radius: 50%;
    background: none;
    border: rgba(152, 152, 152, 0.539) solid 2px;
}
.basket{
    padding: 100px;
}
hr{
    width: 100%;
    margin: 20px 0;
}