<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Movie suggester</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h2>Movie suggester</h2>
        <form action="/filters" method="post">
            <input type="text" name="mood" required>
            <input type="text" name="language" required>
            <input type="text" name="actor">
            <input type="number" name="year">
            <input type="number" name="rating">
            <input type="text" name="type">
            <button type="submit">Check</button>
        </form>
        {% if results %}
        <p>Results:<br>{{ results|replace('\n', '<br>')|safe }}</p>
        {% endif %}
    </body>
</html>